<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} - LoLAlysis</title>
</head>
<body>
    <header>
        <h1>{{ info[0]['name'] }}</h1>
        <p>Tier: {{ info[0]['tier'] }}</p>
    </header>
    
    <main>
        <img src="/static/assets/{{ name }}.png" alt="{{ name }}">
        <h2>Stats:</h2>
        <ul>
            {% for quote in quotes %}
                <li>{{ quote.text }}: {{ quote.rate }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>