<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>LoL Analysis</h1>
    </header>
    <main>
        <div class="container">
            <article class="text-box">
                <h2>Search a champion</h2>
                <p>Type a champion name to get all infos!</p>
                <p>(all informations are from op.gg)</p>
            </article>
            <div class="input-box">
                <Label>Enter a name: </Label><br><input type="text" placeholder="Ex: aatrox">
                <button type="submit">Enter</button>
            </div>
            <p id="copyright">© 2024 Guilherme Augusto</p>
        </div>
    </main>
    <footer>
        <div class="footer-text">
            <a href="https://www.instagram.com/gui.alima/" target="_blank">Instagram</a>
            <a href="https://github.com/guialima29" target="__blank">GitHub</a>
            <p><i class="ph ph-discord-logo"></i> Discord: gui.alima</p>
        </div>
    </footer>
</body>
</html>